In [ ]:
# QUESTION 0
# A bag can contain 5 items and there are 12 full bags.
# Task 1: Calculate how many items we have
print(5*12)

60

In [ ]:
# Task 2: If we want to store our items in different bags which can carry 7 items. 
#Â How many items cannot fit the bags?
print(60%7)

4

In [ ]:
a = 2
b = 1.2
c = "tuna"
print(c)
print(a*c)
a*b

tuna
tunatuna

2.4

In [ ]:
# QUESTION 1
# Create a variable called "var1" by calculating the square of 25, 
var1 = 25**2
print(var1)
# and create a variable called "var2" by calculating 3452 dividing by 1.6
var2 = 3452/1.6
print(var2)
# Task: Print types of each variable and print the comparison of these two typesp
print("Type of var1:", type(var1))
print("Type of var2:", type(var2))

625
2157.5
Type of var1: <class 'int'>
Type of var2: <class 'float'>

In [ ]:
print("Var1: {} , Var2: {}".format(type(var1), type(var2)))

Var1: <class 'int'> , Var2: <class 'float'>

In [ ]:
print(type(var1) == type(var2))

False

In [ ]:
print(type(var1) == type(a))

True

In [ ]:
5 == 5

True

In [ ]:
# QUESTION 2

# By using the given "words" list, print("Data Science 1 Week 2")
words = [2, 1, "Data", "Science", "Week"]
words

[2, 1, 'Data', 'Science', 'Week']

In [ ]:
words[1:5]

[1, 'Data', 'Science', 'Week']

In [ ]:
len(words)

5

In [ ]:
words[-2]

'Science'

In [ ]:
words[1:5:3]

[1, 'Week']

In [ ]:
words[2],words[4]

('Data', 'Week')

In [ ]:
aaa = [words[2],words[-1]]
aaa

['Data', 'Week']

In [ ]:
len(words)

5

In [ ]:
words[int(len(words)/2)]

'Data'

In [ ]:
# QUESTION 3

# compute given expression below by using values x,y and assign the result to variable "out"
# EXPRESSION: x^3 + 5xy + 1 - y^2
x = 1.5
y = 10

out = x**3 + 5*x*y + 1 - y**2
out

-20.625

In [ ]:
num1 = float(input("Please enter a value:"))

Please enter a value:3.5

In [ ]:
num2 = input("Please enter a value:")
num2 = float(num2)
num2

Please enter a value:5.3

5.3

In [ ]:
type(num1)

float

In [ ]:
sentence = "I love this DA-3 program ."
sentence

'I love this DA-3 program .'

In [ ]:
sentence[2:6]

'love'

In [ ]:
s_list = sentence.split()

In [ ]:
s_list

['I', 'love', 'this', 'DA-3', 'program', '.']

In [ ]:
s_list[1]

'love'

In [ ]:
len(s_list)

6

In [ ]:
# QUESTION 6

# Print summer months by slicing given list "months"
months = ["January","February","March","April","May","June","July","August","September","October","November","December"]
print(months[5:8])

['June', 'July', 'August']

In [ ]:
"-".join(months[5:8])

'June-July-August'

In [ ]:
# QUESTION 7
# Print last three months in the same line and add "-" between elements
print("-".join(months[9:]))
"-".join(months[-5:])

October-November-December

'August-September-October-November-December'

In [ ]:
"-".join(months[-1::-2])

'December-October-August-June-April-February'

In [ ]:
sorted(months)

['April',
 'August',
 'December',
 'February',
 'January',
 'July',
 'June',
 'March',
 'May',
 'November',
 'October',
 'September']

In [ ]:
sorted(months)[:3]

['April', 'August', 'December']

In [ ]:
sorted(months[:3])

['February', 'January', 'March']

In [ ]:
# QUESTION 9

# Score Board ordered as high scores. Find the position of "Tuna". And change the Tuna's position to first.
score_board = ["Yeliz","Ahmet","Cagri","Tuna","Alp"]

In [ ]:
index = score_board.index("Tuna")
index

3

In [ ]:
temp = score_board[index]
temp

'Tuna'

In [ ]:
score_board.pop(index)
score_board

['Yeliz', 'Ahmet', 'Cagri', 'Alp']

In [ ]:
score_board.insert(0, temp)
score_board

['Tuna', 'Yeliz', 'Ahmet', 'Cagri', 'Alp']

In [ ]:
# QUESTION 10

# dictionary "days" contains 5 week-days and lectures for each day. Print Tuesday's lecture.
days = {
    "Monday": "Calculus",
    "Tuesday": "Int. Data Science",
    "Wednesday": "Statistics",
    "Thursday": "Modern Art",
    "Friday": "Advanced Programming"
}
days

{'Monday': 'Calculus',
 'Tuesday': 'Int. Data Science',
 'Wednesday': 'Statistics',
 'Thursday': 'Modern Art',
 'Friday': 'Advanced Programming'}

In [ ]:
days["Tuesday"]

'Int. Data Science'

In [ ]:
# QUESTION 11

# dictionary "scores" contains three different students grades. Print max grade of Anil
scores = {
    "Alp":[46,89,100],
    "Irem":[34,90,89],
    "Anil":[10,68,65]
}
print(max(scores["Alp"]))
min(scores["Alp"])

100

46

In [ ]:
# QUESTION 12

# dictionary "scores" contains three different students grades.
# Using "scores" dictionary, create dictionary called "min_scores", which keys are students and values are minimum grades
scores = {
    "Alp":[46,89,100],
    "Irem":[34,90,89],
    "Anil":[10,68,65]
}

# Solution
min_scores = {
    "Alp": min(scores["Alp"]),
    "Irem": min(scores["Irem"]),
    "Anil": min(scores["Anil"])
}

min_scores

{'Alp': 46, 'Irem': 34, 'Anil': 10}

In [ ]:
# QUESTION 13

# dictionary items hold item ids as keys and properties as values
# ids list contains product ids
# find the greatest id in ids list and print its stock value

ids = [83,98,67]
items = {
    83 : {
        "stock": 100,
        "price": 89.08
    },
    98 : {
        "stock": 7546,
        "price": 23.12
    },
    67 : {
        "stock": 0,
        "price": 4.5
    }
}
max_id = max(ids)
items[max_id]["stock"]

7546

In [ ]:
# QUESTION 14

# dictionary items hold item ids as keys and properties as values
# ids list contains product ids
# find the smallest id in ids list and calculate max money you can get by selling all the stock
# if you make 35% discount, calculate new result
# print results in format "Max Money: ... , With Discount: ..."